.shield {
  text-align: center;
  padding:5em 0;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:100%;
}

.shield__headline {
  font-weight: 900;
  font-size: 2em;
  text-transform: uppercase;
  font-style: italic;

  @include mq($from: tablet) {
    font-size: 4em;
  }

  @include mq($from: desktop) {
    font-size: 8em;
  }
}

.shield__body {
  padding: 2em 0;
  font-size: 0.75em;

  @include mq($from: tablet) {
    padding: 1em 0;
    font-size: 1em;
  }

  @include mq($from: desktop) {
    // font-size: 3em;
  }
}

.shield__link-list {
  list-style-type: none;
}

.shield__link-list__item {
  display:inline-block;
  margin: 0 2em;
  font-weight: bold;
}