footer
    span &copy; 2019 Cem Derin
    a(href="impressum.md") Impressum

    .footer__meta-links
        a(href="https://github.com/cemderin/cemderin.com/commits/master/src/markdown" + srcPath) Changelog
        a(href="https://github.com/cemderin/cemderin.com/blob/master/src/markdown" + srcPath) Edit this page