mixin shield
    .shield
        .shield__header
            h1.shield__headline Cem Derin

        .shield__body
            ul.shield__link-list
                li.shield__link-list__item
                    a(target="_blank" href="https://github.com/cemderin") GitHub
                li.shield__link-list__item
                    a(target="_blank" href="https://twitter.com/dercemderin") Twitter
                li.shield__link-list__item
                    a(target="_blank" href="https://www.instagram.com/dercem/") Instagram
                li.shield__link-list__item
                    a(target="_blank" href="https://www.linkedin.com/in/cemderin/") LinkedIn
                li.shield__link-list__item
                    a(target="_blank" href="https://www.xing.com/profile/Cem_Derin") XING
                li.shield__link-list__item
                    a(href="mailto:cemyderin@gmail.com") E-Mail

