footer {
  @extend .container;
  font-size: 0.75em;
  color: lighten(#000, 40);

  @include mq($from: desktop) {
    flex:0 0 100%;
  }

  span {
    margin-right: 1em;
  }
}

.footer__meta-links {
  text-align: right;
  opacity: 0.5;

  @include mq($from: desktop) {
    float:right;
  }

  a {
    display:inline-block;
    margin-left: 1em;

    &:first-child {
      margin-right: 0;
    }
  }
}